---
layout: base
---
<div class="events">
    <div class="events-header">
      <h1>Fyntech.dk</h1>
      <div class="events-description">
        En samling af spændende og interessante Tech relaterede events på Fyn.
      </div>
    </div>

    {% for event in site.events %}
      <div vocab="http://schema.org/" class="event" typeof="Event">
        <section class="">
          {% if event.date %}
            <time class="event-date" property="startDate" content="{{ event.date }}" datetime="{{ event.date }}">{{ event.date | append: " Europe/Copenhagen" | date: "%-d %b %Y - %H:%M"}}</time>
          {% endif %}
          {% if event.title %}
            <h2 class="event-title" property="name">{{ event.title }}</h2>
          {% endif %}
          {{ event.excerpt }}
        </section>
        <section class="colorful">
          {% if event.organizer %}
            <div class="event-organizer">
              <b>{{ event.organizer }}</b>
            </div>
          {% endif %}
          {% if event.location %}
            <div class="event-location">
              {{ event.location }}
            </div>
          {% endif %}
          {% if event.link and event.link != "" %}
            <a class="event-url btn" property="url" href="{{ event.link }}" target="_blank">Sign up / More info</a>
          {% endif %}
        </section>
      </div>
    {% endfor %}
    <footer>
        Built with<br/>
        <svg class="heart" viewBox="0 0 32 29.6">
          <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
            c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"/>
        </svg><br/>
        by<br/>
        <a href="https://www.prosa.dk/mit-prosa/udvalg/ungdomsudvalget-u35/"><img class="logo-prosau35" src="{{ '/assets/img/prosau35.png' }}"></a>
      </footer>
  </div>
