---
layout: base
---
<div class="events">
    <div class="events-header">
      <h1>Fyntech.dk</h1>
      <div class="events-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>

    {% for event in site.events %}
      <div vocab="http://schema.org/" class="event" typeof="Event">
        <section class="">
          {% if event.date %}
            <time class="event-date" property="startDate" content="{{ event.date }}" datetime="{{ event.date }}">{{ event.date | date: "%-d %b %Y - %H:%M"}}</time>
          {% endif %}
          {% if event.title %}
            <h2 class="event-title" property="name">{{ event.title }}</h2>
          {% endif %}
        </section>
        <section class="colorful">
          {% if event.organizer %}
            <div class="event-organizer">
              <span class="label">Organizer:</span>
              {{ event.organizer }}
            </div>
          {% endif %}
          {% if event.location %}
            <div class="event-location">
              <span class="label">Location:</span>
              {{ event.location }}
            </div>
          {% endif %}
          {% if event.link and event.link != "" %}
            <a class="event-url" property="url" href="{{ event.link }}" target="_blank">More info</a>
          {% endif %}
        </section>
      </div>
    {% endfor %}
  </div>
</div>
