.events {
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: 1px solid #eee;

  .events-header {
    padding-left: 30px;
    margin-bottom: 30px;
    @media (max-width: $screen-phone) {
      padding-left: 15px;
      margin-bottom: 15px;
    }

    .events-description {
      font-style: italic;
      color: #666;
      font-size: 1.6rem;
      line-height: 2rem;
    }

    .events-ics-info {
      color: #666;
      margin-top: 20px;

      .ics-link-container{
        border: 1px solid #CCC;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        max-width: 245px;

        &::before {
          content: "📆";
          padding: 5px 0 5px 5px;
          position: absolute;
          pointer-events: none;
        }
      }

      .ics-link, .ics-btn {
        padding: 5px;
        height: 17px;
        vertical-align: middle;
        border: none;
      }

      .ics-link{
        border-radius: 5px 0 0 5px;
        font-size: 1.4rem;
        width: 100%;
        outline: none;
        padding-left: 25px;
      }

      .ics-btn {
        display: inline-block;
        box-sizing: content-box;
        border-left: 1px solid #CCC;
        border-radius: 0 5px 5px 0;
        background: linear-gradient(#fcfcfc,#eee);
        color: #333;

        img {
          width: 14px;
          padding: 0 2px;
        }

        &:hover {
          cursor: pointer;
          background: linear-gradient(#eee,#ddd);
        }
      }
    }
  }
}
