---
---

@import "{{ site.theme }}";
// Overriding fonts from main theme, as those do not support æø and å
body {
  font:14px/1.5 Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif;
}

section #title h1 {
  font-family: Helvetica, Arial, sans-serif;
}

section #title p {
  font-family: Helvetica, Arial, sans-serif;
}

section #title .credits {
  font-family: Helvetica, Arial, sans-serif;
}

#header nav li {
  font-family: Helvetica, Arial, sans-serif;
}
