---
---
@import "variables";

@font-face {
    font-family: 'montserratbold';
    src: url('font/montserrat-bold-webfont.woff2') format('woff2'),
         url('font/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratextralight';
    src: url('font/montserrat-extralight-webfont.woff2') format('woff2'),
         url('font/montserrat-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratlight';
    src: url('font/montserrat-light-webfont.woff2') format('woff2'),
         url('font/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratregular';
    src: url('font/montserrat-regular-webfont.woff2') format('woff2'),
         url('font/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}
body {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  background-color: white;
  font-size: 1.4rem;
  line-height: 1.8rem;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  margin: 0;
  margin-bottom: 5px;
  color: #333;
}

h1 {
  font-size: 5rem;
  line-height: 5rem;
  margin-bottom: 15px;
}

h2 {
  font-size: 2.5rem;
  line-height: 2.7rem;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
  background-color: #fff;
  border-color: #ccc;

  &:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
  }
  &:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
  }
}

.wrapper {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.events {
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 20px;
  padding-bottom: 40px;
  border-left: 1px solid #eee;

  .events-header {
    padding-left: 30px;
    margin-bottom: 30px;
    @media (max-width: $screen-phone) {
      padding-left: 15px;
      margin-bottom: 15px;
    }

    .events-description {
      font-style: italic;
      color: #666;
    }
  }
}

.event {
  padding-left: 15px;

  h2 {
    margin: 0;
  }

  section {
    padding: 15px;
    box-sizing: border-box;

    &:first-of-type {
      padding-top: 30px;
      padding-bottom: 30px;
      @media (max-width: $screen-phone) {
        padding-left: 0px;
        padding-bottom: 20px
      }

      p {
        margin-bottom: 0;
        font-style: italic;
        font-family: montserratextralight;
        color: #666;
      }
    }
  }

  .event-date {
    font-size: 1.2rem;
    color: #999;
    display: block;
    margin-left: -35px;
    padding-left: 35px;
    padding-bottom: 20px;
    background-image: url('{{ site.baseurl }}/assets/img/icon-circle.png');
    background-repeat: no-repeat;
    background-position: left 3px;
    @media (max-width: $screen-phone) {
      margin-left: -20px;
      padding-left: 20px;
    }
  }

  .event-title {
    color: #333;
  }

  .event-url {
    margin-top: 10px;
  }

  .event-organizer{
    font-family: montserrat;
  }

  .colorful {
    font-family: montserratextralight;
    background-color: #E64949;
    color: white;
    box-shadow: 0px 4px 3px -2px rgba(0,0,0,0.2);
  }
}
