$categories: (
  cancelled: $color-cancled,
  codeodense: $color-codeodense,
  codeu-continuousdeliveryusersodense: $color-codeu,
  ealtechevents: $color-eal,
  flug-fynslinuxusergroup: $color-flug,
  ida: $color-ida,
  prosa: $color-prosa,
  vuc: $color-vuc,
  atlassianusersodense: $color-atlassian,
  azureusergroupdenmarkodense: $color-azure,
  devops-odense: $color-devops,
  odensehackinggroup: $color-odensehacking,
  dockerodense: $color-dockerodense,
  gaming: $color-gaming
);

$combo-categories: (
  eal-prosa: (map-get($categories, prosa), map-get($categories, eal))
);

.category {
  @each $category, $color in $categories {
    &.category-#{$category} {
      .event-info {
        @include category-btn($color);
        background: $color;
      }

      .event-date {
        background: $color;
      }
    }
  }

  @each $category, $colors in $combo-categories {
    &.category-#{$category} {
      .event-info {
        @include category-btn(nth($colors, 1));
        background: linear-gradient(45deg, #{nth($colors, 1)} 0%, #{nth($colors, 1)} 49.9%, #{nth($colors, 2)} 50%, #{nth($colors, 2)} 100%);
      }

      .event-date {
        background: linear-gradient(45deg, #{nth($colors, 1)} 0%, #{nth($colors, 1)} 49.9%, #{nth($colors, 2)} 50%, #{nth($colors, 2)} 100%);
      }
    }
  }
}
