$categories:(
    cancelled: #CCC,
    codeodense: hsl(282, 72%, 38%),
    code-u-odense: #559E33,
    eal: #006E79,
    flug: #29ABE1,
    ida: #009FE3,
    prosa: #C52C1A,
    vuc: #00a357,
    atlassian-users-odense: #0052CC,
    azure: #f13a59,
    devops: #371EAC
  );

$combo-categories:(
    eal-prosa: (map-get($categories, prosa), map-get($categories, eal))
  );


.category {
  @each $category, $color in $categories {
    &.category-#{$category} {
      .event-info{
        background: $color;

        @include category-btn($color);
      }
      .event-date{
        background: $color;
      }
    }
  }
  @each $category, $colors in $combo-categories {
    &.category-#{$category} {
      .event-info{
        background: linear-gradient(45deg, #{nth($colors, 1)} 0%,#{nth($colors, 1)} 49.9%,#{nth($colors, 2)} 50%,#{nth($colors, 2)} 100%);

        @include category-btn(nth($colors, 1));
      }
      .event-date{
        background: linear-gradient(45deg, #{nth($colors, 1)} 0%,#{nth($colors, 1)} 49.9%,#{nth($colors, 2)} 50%,#{nth($colors, 2)} 100%);;
      }
    }
  }
}
