.category {
  &.category-codeodense {
    background-color: hsl(282, 72%, 38%);
  }
  &.category-eal {
    background-color: #006E79;
  }
  &.category-flug {
    background-color: #29ABE1;
  }
  &.category-ida {
    background-color: #009FE3;
  }
  &.category-prosa {
    background-color: #C52C1A;
  }
  &.category-vuc {
    background-color: #00a357;
  }
}
