@font-face {
  font-family: 'montserratlight';
  font-style: normal;
  font-weight: normal;
  src:
  url('font/montserrat-light-webfont.woff2') format('woff2'),
  url('font/montserrat-light-webfont.woff') format('woff');
}

@font-face {
  font-family: 'montserratregular';
  font-style: normal;
  font-weight: normal;
  src:
  url('font/montserrat-regular-webfont.woff2') format('woff2'),
  url('font/montserrat-regular-webfont.woff') format('woff');
}
